<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>my page</title>
  </head>
  <body>
    <h1>hello my friends. good to see you. why so serious?</h1>
    <h3><%= 1 + 3 %></h3>

    <h1>update & delete list</h1>
    <ul>
      <% for (comment of comments) { %>
      <li><%= comment.id %>. <%= comment.content %></li>
      <form action="/update/<%= comment.id %>" method="post">
        <input type="text" name="content" />
        <input type="submit" value="update" />
      </form>
      <form action="/delete/<%= comment.id %>" method="post">
        <input type="submit" value="delete" />
      </form>
      <% } %>
    </ul>

    <hr />

    <h1>add new list</h1>

    <form action="/create" method="post">
      <label for="content">content:</label>
      <input type="text" name="content" /><br /><br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
